{
  "semi": false,
  "singleQuote": true,
  "useTabs": true,
  "tabWidth": 4,
  "bracketSameLine": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "printWidth": 130,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "useTabs": false
      }
    }
  ]
}
