.Footer
	background: #36A6E2
	color: #FFFFFF
	padding: 40px

	.FooterLinkDescription
		font-size: 24px

	&__copyright
		margin-top: 40px

	&__links
		display: flex
		width: 100%
		justify-content: space-between

		> div
			max-width: 33%
			width: 33%
			min-width: 33%

		.FooterLink
			margin-top: 16px

			a
				color: #FFFFFF
				text-decoration: underline

				&:hover
					cursor: pointer


		.Button
			margin-left: 16px
			text-decoration: none