@font-face
	font-family: "Just Me Again Down Here"
	src: url('../public/JustMeAgainDownHere-Regular.ttf')
	
@font-face
	font-family: "Muli"
	src: url('../public/Muli.ttf')

.App
	font-family: Muli, serif
	height: calc(100vh - 81.5px)

	*
		box-sizing: border-box

	&__content
		margin-top: 81.5px
		display: flex
		flex-direction: column
		justify-content: space-between
		height: 100%

	.FormHeader
		font-size: 32px
		text-transform: uppercase
		font-weight: 400
		margin-top: 0

	.FormLabel
		color: #566270
		font-size: 16px

	.AppLink
		text-decoration: underline
		color: #36A6E2

		&:hover
			cursor: pointer

	.AppLinkWhite
		text-decoration: underline
		color: #FFFFFF

		&:hover
			cursor: pointer

	.u-mt-16
		margin-top: 16px

	.u-mb-16
		margin-bottom: 16px